{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="p-0 {{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header fixed w-full top-0 left-0 bg-transparent z-50">
			{% block header %}
				<div class="wrapper">
					<nav class="bg-transparent">
						<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
							<a href="{{site.url}}" class="flex items-center">
								<img src="{{ logo }}" class="min-w-[150px] mr-3" alt="{{site.name}}" />
							</a>
							<div class="flex items-end md:order-2">
								<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
									{% include "menu.twig" with {'items': menu.get_items} %}
								</div>
							</div>
						</div>
					</nav>
				</div>
			{% endblock %}
		</header>

		<section class="bg-center bg-no-repeat bg-blend-multiply angled-bottom min-h-[970px]" style="background-image: url('{{ uploads.url }}/Vector-1.png'); background-size: cover;">
			<div class="jumbotron-shape-left"></div>
			<div class="mx-0 w-full h-full flex flex-col justify-center bg-dark-transparent min-h-[970px]">
				<div class="container mx-auto">
					<h1 class="mb-4 text-white">Der <span class="text-primary">Stern</span> Am <br /> Wordpress - Himmel</h1>
				</div>
			</div>
			<div class="jumbotron-shape-bottom"></div>
		</section>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		<h1 data-aoe="popIn">
		</h1>

		{% block footer %}
			<footer class="relative angled-top">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
