{#
 	Title: applynow
 	Description: A block that displays an apply now field
 	Category: formatting
 	Icon: admin-comments
 	Keywords: contact apply
 	Mode: edit
 	Align: full
 	PostTypes: page post
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<div class="w-full relative min-h-[800px]">
	<div class="container mx-auto relative">
		<div class="inline-flex">
			<div class="w-full">
				<h3 class="mb-4 text-5xl">{{ fields.title }}:</h3>
				<div class="inline-flex">
					<img class="mr-3" src="{{ fields.contact_image }}" />
					<div class="flex flex-col justify-end">
						<h4 class="text-xl font-bold mb-3">{{ fields.contact_name }}</h4>
						<a href="mailto:{{ fields.contact_email }}" class="mb-3 contact-link">{{ fields.contact_email }}</a>
						<a href="tel:{{ fields.contact_phone }}" class="mb-3 contact-link">{{ fields.contact_phone }}</p>
					</div>
				</div>
				<a class="btn btn-primary w-full" href="#">Jetzt Bewerben</a>
			</div>
		</div>
	</div>
	<div class="absolute right-0 top-0">
		<img src="{{ fields.image }}" />
	</div>
</div>